<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Welcome to web shop</h1>

<a href="/webshop/products">View Products</a>
<a href="/webshop/products/search">Search Products</a>
<a href="/webshop/products/filtered">View Categories</a>
<a href="/webshop/products/add">Add Product</a>
<a href="/webshop/checkout/review">Review Orders</a>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>