<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Product</title>
</head>
<body>

<h2>Search Products</h2>

<form th:action="@{/products/search}" method="POST">
    <input type="text" name="search" placeholder="Search products...">
    <button type="submit">Search</button>
</form>

<div th:if="${products}">
    <ul>

        <li th:each="product : ${products}">

            <form th:action="@{/products/search/addToCart}" method="post">

                <input type="hidden" name="productId" th:value="${product.id}">

                <span th:text="${product.name}"></span> -
                <span th:text="${product.price}"></span>

                <button type="submit">Add to Cart</button>
            </form>
        </li>
    </ul>
</div>


<div th:if="${param.productAdded}" class="message">
    Product added to cart
</div>

<a href="/webshop/cart">View Cart</a>
<a href="/webshop">Home</a>
<a href="#" onclick="window.history.back();">Go Back</a>

</body>
</html>