<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<h1>Shopping Cart</h1>
<table>
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.price}"></td>
        <td>
            <form th:action="@{/cart/increment}" method="post">
                <input type="hidden" name="productId" th:value="${item.product.id}">

                <input type="number" name="amount" min="0" th:value="${item.quantity}">
                <button type="submit">Update Quantity</button>
            </form>
        </td>
        <td th:text="${item.product.price * item.quantity}"></td>
    </tr>
    </tbody>
</table>

<div>Total Price: <span th:text="${totalPrice}"></span></div>

<a href="/webshop">Home</a>
<a href="#" onclick="window.history.back();">Go Back</a>


<form action="/webshop/checkout" method="get">
    <button type="submit">Checkout</button>
</form>

</body>
</html>

